* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eebeae;
    background: linear-gradient(180deg, rgba(238, 190, 174, 1) 0%, rgba(148, 154, 233, 1) 100%);
}

h2 {
    font-weight: 300;
    font-size: 2rem;
    letter-spacing: .2rem;
    margin-bottom: 10px;
}

#create-note-btn {
    margin-bottom: 10px;
    padding: .7rem;
    border: none;
    font-weight: bold;
    color: #fff;
    background: #e87e5a;
    border-radius: 10px;
    cursor: pointer;
    transition: all .4s ease;
}

#create-note-btn:active {
    transform: scale(.95);
}

#main-container {
    width: 800px;
}

#grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    background: #00000025;
    border-radius: 10px;
    gap: 10px;
    padding: 10px;
}

.notes {
    background: #00000025;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.242);
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
}

.note-title {
    display: flex;
    justify-content: space-between;
}

.delete-btn {
    border: none;
    padding: 8px;
    border-radius: 100%;
    background: rgb(206, 74, 74);
    color: #fff;
}

.notes p {
    font-size: 18px;
    line-height: 1.3;
}

.disable {
    display: none;
}