* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-direction: column;
    background: #eebeae;
    background: linear-gradient(to right, rgba(238, 190, 174, 1) 0%, rgba(148, 154, 233, 1) 100%);
}

h2 {
    font-weight: 300;
    font-size: 2rem;
    letter-spacing: .2rem;
    margin-bottom: 10px;
}

.create-note-btn {
    margin-bottom: 10px;
    padding: .7rem;
    border: none;
    font-weight: bold;
    color: #fff;
    background: #e87e5a;
    border-radius: 10px;
    cursor: pointer;
    transition: all .4s ease;
}

#create-note-btn:active {
    transform: scale(.95);
}

#main-container {
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    background: #00000025;
    border-radius: 10px;
    padding: 10px;
}

.notes {
    background: #00000025;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.242);
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
}

.note-title {
    display: flex;
    justify-content: space-between;
}

.delete-btn {
    border: none;
    padding: 8px;
    border-radius: 100%;
    background: rgb(206, 74, 74);
    color: #fff;
}

.notes p {
    font-size: 18px;
    line-height: 1.3;
}

#add-note-window {
    margin: auto;
    background-color: rgba(0, 0, 0, 0.724);
    color: #fff;
    border: none;
    border-radius: 10px;
}

#add-note-window::backdrop {
    background-color: rgba(0, 0, 0, 0.479);
}

#add-note-window h4 {
    padding: 10px 30px;
}

#add-note-window form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px;
}

#add-note-window input {
    padding: 10px;
    background: rgb(22, 22, 22);
    color: #fff
}

#add-note-window textarea {
    padding: 10px;
    color: #fff;
    background: rgb(22, 22, 22);
    width: 200px;
    height: 100px;
}

#add-note-window input, #add-note-window textarea {
    outline: none;
}

#add-note-window #add-note-btn {
    background: #e87e5a;
    border-radius: 10px;
    border: none;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    width: 100px;
}


.no-notes {
    height: 200px;
    width: 100%;
}