body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(2, 2, 36, 0.883);
    color: #f6f2f2;
}

#flex-container {
    display: flex;
    align-items: center;
    gap: 30px;
}

#time-scores {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.645);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 6px solid #a1ec60;
}

.time-score {
    font-weight: bold;
}

#game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}