* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(162, 199, 203, 0.661);
    color: rgba(20, 20, 20, 0.915);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}