* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: rgb(7, 7, 20);
    color: rgba(255, 255, 255, 0.881);
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#flex-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}

#game-title {
    padding: 10px;
    letter-spacing: .2em;
}

#start-btn {
    border: none;
    background: rgb(191, 0, 255, 0.667);
    padding: 20px;
    text-align: center;
    color: #f2ecec;
    font-weight: 700;
    border-radius: 10px;
    cursor: pointer;
}

#game-container {
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-auto-rows: auto;
    gap: 20px;
    background: rgb(8, 8, 8);
    border: 8px solid rgba(191, 0, 255, 0.667);
    border-radius: 25px;
}

.colors {
    border: 5px solid black;
    padding: 80px;
    cursor: pointer;
}

.colors:active {
    transform: scale(0.95);
}

.red {
    background-color: #e63946;
    border-radius: 20px 0;
    transition: background-color ease .1s;
}

.red:hover {
    filter: brightness(115%);
}

.green {
    background-color: #2ecc71;
    border-radius: 0 20px;
    transition: background-color ease .1s;
}

.green:hover {
    filter: brightness(115%);
}

.blue {
    background-color: #3498db;
    border-radius: 0 20px;
    transition: background-color ease .1s;
}

.blue:hover {
    filter: brightness(115%);
}

.yellow {
    background-color: #f1c40f;
    border-radius: 20px 0;
    transition: background-color ease .1s;
}

.yellow:hover {
    filter: brightness(115%);
}

.yellow:active {
    background-color: rgb(255, 240, 0); 
}

#game-round {
    letter-spacing: .3em;
}

.red-choice, .green-choice, .blue-choice, .yellow-choice {
    filter: brightness(150%);
}

.red-choice {
    background-color: #ff4d5a;
}

.green-choice {
    background-color: #4fff8c;
}

.blue-choice {
    background-color: #5ebdff;
}

.yellow-choice {
    background-color: #ffe15d;
}

.game-win {
    color: rgb(97, 227, 97);
}

.game-lost {
    color: rgb(255, 53, 53);
}

.invisible {
    display: none;
}