* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: rgb(7, 7, 20);
    color: rgba(255, 255, 255, 0.881);
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#flex-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}

#game-title {
    padding: 10px;
    letter-spacing: .2em;
}

#game-container {
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-auto-rows: auto;
    gap: 20px;
    background: rgb(8, 8, 8);
    border: 8px solid rgba(191, 0, 255, 0.667);;
    border-radius: 25px;
}

.colors {
    border: 5px solid black;
    padding: 80px;
    cursor: pointer;
}

.red {
    background-color: rgb(194, 25, 25);
    border-radius: 20px 0;
    transition: background-color ease .1s;
}

.red:active {
    background-color: rgb(255, 0, 0);
}

.green {
    background-color: rgb(30, 255, 0);
    border-radius: 0 20px;
    transition: background-color ease .1s;
}

.green:active {
    background-color: rgb(71, 152, 36);
}

.blue {
    background-color: rgb(34, 113, 251);
    border-radius: 0 20px;
    transition: background-color ease .1s;
}

.blue:active {
    background-color: rgb(0, 87, 236);
}

.yellow {
    background-color: rgb(255, 218, 30);
    border-radius: 20px 0;
    transition: background-color ease .1s;
}

.yellow:active {
    background-color: rgba(255, 213, 0, 0.804);
}

#game-round {
    letter-spacing: .3em;
}

#red-choice {
    background-color: rgb(255, 0, 0);
}

#green-choice {
    background-color: rgb(44, 146, 0);
}

#blue-choice {
    background-color: rgb(0, 87, 236);
}

#yellow-choice {
    background-color: rgba(255, 213, 0, 0.804);
}

.game-win {
    color: rgb(97, 227, 97);
}

.game-lost {
    color: rgb(255, 53, 53);
}

.invisible {
    display: none;
}